<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Board {{.Key}}</title>
		<style>
			body {
				background-color: #cccccc;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			main {
				width: 375px;
				position: relative;
				z-index: -2;
			}
			main > div{
				z-index: -2;
				aspect-ratio: 1 / 1.4142;
				width: 375px;
				overflow-y: auto;
			}
		</style>
	</head>
	<body>
		<header>
			<h1><a href="/">Fruhling '83</a></h1>
			<p>You can read more about the spring 83 spec here: <a href="https://github.com/robinsloan/spring-83">github.com/robinsloan/spring-83</a></p>
		</header>
		<main>
		</main>
		<script>
			const main = document.querySelector('main');	
			const host = document.createElement('div');
			main.appendChild(host);
			const shadowRoot = host.attachShadow({mode: 'open'});
			shadowRoot.innerHTML = '<style>:host {background-color: white;box-sizing: border-box;padding: 2rem;}time { display: none; }p, h1, h2, h3, h4, h5 { margin: 0 0 2rem 0; }</style>{{.Content}}';
		</script>
	</body>
</html>
